*.md linguist-detectable=true
*.py linguist-documentation
*.js linguist-documentation
*.ts linguist-documentation
*.json linguist-documentation
*.config.js linguist-documentation
*.mjs linguist-documentation
*.yml linguist-documentation
*.yaml linguist-documentation
*.tsx linguist-documentation
*.css linguist-documentation
*.ico linguist-documentation
*.prisma linguist-documentation
*.sql linguist-documentation
*.toml linguist-documentation
*.svg linguist-documentation
*.xml linguist-documentation
*.mdx linguist-documentation
*.html linguist-documentation
*.php linguist-documentation
*.conf linguist-documentation
