---
layout: page
title: "Lectures"
---


<ul class="double-spaced">
{% for lecture in site.data.lectures %}
  <li>
  {% if lecture.url %}
    <strong>{{ lecture.date }}</strong>: <a href="{{ lecture.url }}">{{ lecture.name }}</a>
  {% elsif lecture.previous %}
    <strong>{{ lecture.date }}</strong>: {{ lecture.name }} [coming soon; see <a href="{{ lecture.previous }}">last year's version</a>]
  {% else %}
    <strong>{{ lecture.date }}</strong>: {{ lecture.name }} [coming soon]
  {% endif %}
  {% if lecture.details %}
    <br>
    ({{ lecture.details }})
  {% endif %}
  </li>
{% endfor %}
</ul>

<h2>Previous year's lectures</h2>

<p>To see the lecture notes and videos from the IAP 2019 version of this class, see <a href="https://hacker-tools.github.io/lectures/">here</a>.</p>
