---
layout: page
title: "Lectures"
---


<ul class="double-spaced">
{% for lecture in site.data.lectures %}
  <li>
  {% if lecture.url %}
    <strong>{{ lecture.date }}</strong>: <a href="{{ lecture.url }}">{{ lecture.name }}</a>
  {% else %}
    <strong>{{ lecture.date }}</strong>: {{ lecture.name }} [coming soon]
  {% endif %}
  {% if lecture.details %}
    <br>
    ({{ lecture.details }})
  {% endif %}
  </li>
{% endfor %}
</ul>

<h2>Previous year's lectures</h2>

<p>You can find lecture notes and videos from last year's version of this class on the <a href="https://hacker-tools.github.io/lectures/">Hacker Tools IAP 2019</a> website.</p>
