---
layout: page
title: "Lectures"
---

<p><strong>Note: this currently shows the lectures from the IAP 2019 offering of this class. To see the topic list for this year, check the <a href="/">homepage</a>.</strong></p>

<p>Click on specific topics below to see lecture videos and lecture notes.</p>

{% for lecture in site.data.lectures %}

    <h1>{{ lecture.date }}</h1>

    <ul>
    {% for topic in lecture.topics %}
        <li><a href="{{ topic.url }}">{{ topic.title }}</a></li>
    {% endfor %}
    </ul>

{% endfor %}
