<div id="nav-bg">
  <nav id="top-nav">
  <input type="checkbox" id="menu-icon">
    <label class="menu-label" for="menu-icon"></label>
    <a href="/" id="logo">./missing-semester</a>
    
    <div class="trigger">
      <div class="trigger-child">
        <span class="nav-link"><a href="/2020/">讲座列表</a></span>
        <span class="nav-link"><a href="/about/">关于本课程</a></span>
        <span class="nav-link"><a href="https://missing.csail.mit.edu/">English</a></span>
        <span style="float: right;margin: 3px;padding-right:15px"><a  href="https://github.com/missing-semester-cn/missing-semester-cn.github.io/stargazers">
        <img alt="GitHub stars" src="https://img.shields.io/github/stars/missing-semester-cn/missing-semester-cn.github.io?style=social"></a></span>
     <span style="float: right;margin: 3px;padding-right:15px"> <a  href="https://github.com/missing-semester-cn/missing-semester-cn.github.io">
     <img alt="GitHub forks" src="https://img.shields.io/github/forks/missing-semester-cn/missing-semester-cn.github.io?style=social"></a></span>

         
      </div>
    </div>
  </nav>
</div>
{% comment %} <div class="ribbon">
  <a href="https://github.com/missing-semester-cn/missing-semester-cn.github.io" target="_blank"  >Edit on GitHub</a>
</div>  {% endcomment %}
