---
layout: default
---

<h1 class="title">{{ page.title }}</h1>
{% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}

{% if page.video.id %}
  <div class="youtube-wrapper" style="padding-bottom: {{ page.video.aspect }}%;">
    <iframe src="https://www.youtube.com/embed/{{ page.video.id }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
{% elsif page.panopto %}
  <p class="center padded bordered"><strong><a href="{{ page.panopto }}">Click here to view the raw lecture video on Panopto (MIT Kerberos login required).</a></strong><br>
  An edited version of this video will be posted after the course is over. Edited lecture videos will be posted to YouTube shortly after the conclusion of the course.</p>
{% elsif page.last_year %}
  <p class="center padded bordered"><strong><a href="{{ page.last_year }}">Click here to view last year's lecture video.</a></strong><br>
  This year's lecture video is coming soon.</p>
{% elsif page.video %}
  <p class="center padded bordered"><strong>Lecture video coming soon!</strong></p>
{% endif %}

{{ content }}

<hr>

<div class="small center">
<p><a href="https://github.com/missing-semester-cn/missing-semester-cn/blob/master/{{ page.path }}">Edit this page</a>.</p>
<p>Licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">CC BY-NC-SA</a>.</p>
</div>
